/* Animation and control class, from left to center */
@keyframes flip-left-center {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0px);
    }   
}

/* Animation and control class, from center to right */
@keyframes flip-center-right {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100vw);
    }   
}

/* Animation and control class, from right to center */
@keyframes flip-center-right {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0px);
    }   
}

/* Animation and control class, from center to left */
@keyframes flip-center-right {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100vw);
    }   
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.page {
    width: calc(100vw - 2em);
    height: calc(100vh - 2em);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
}



/* ----- PAGE CONTROLS ----- */

.page .page-control {
    position: absolute;
    bottom: 1em;
}